@color_1: #ececec; // body background
@color_2: #fff; // default, buttons
@color_3: #fcfcfc; // form element, preview backgrounds
@color_4: #a0a0a0; // text color 
@color_5: #7a7a7a; // sub headers
@color_6: #2e2e2f; // header background, checkbox, radiobuttons
@color_7: #f9f9f9; // row hover, blockquote
@color_8: rgba(0,0,0,0.2); // shadows
@color_9: rgba(106,74,60,0.4); // menu bottom border

@color_10: rgb(0, 160, 176); // menu, category, title, links
@color_11: darken(@color_10, 5%); // menu, category
@color_12: rgb(204, 51, 63); // menu, category, buttons, links hover
@color_13: darken(@color_12, 5%); // menu, category, buttons hover
@color_14: rgb(237, 201, 81); // menu, category
@color_15: darken(@color_14, 8%); // menu, category
@color_16: rgb(235, 104, 65); // menu, category, poll 
@color_17: darken(@color_16, 8%); // menu, category
@color_18: rgb(116, 176, 0); // menu, category

@themeName: "Default";
@iconType: "Bright";
@searchIcon: "Icons/Dark/Search.png";

@import "base";