/* digibyte */
#header, #footer, #lightbox, #curtain { display: none; }



/* We're going to opt for the category icon method for now, tags_* is also available */
.cats_applications { width: 28px; height: 28px; background: url('images/apps.png') no-repeat center center; }
.cats_audiobooks { width: 28px; height: 28px; background: url('images/audiobook.png') no-repeat center center; }
.cats_comedy { width: 28px; height: 28px; background: url('images/comedy.png') no-repeat center center; }
.cats_comics { width: 28px; height: 28px; background: url('images/comics.png') no-repeat center center; }
.cats_ebooks { width: 28px; height: 28px; background: url('images/ebook.png') no-repeat center center; }
.cats_elearningvideos { width: 28px; height: 28px; background: url('images/elearning.png') no-repeat center center; }
.cats_music { width: 28px; height: 28px; background: url('images/music.png') no-repeat center center; }

/* Global */
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

* {
	padding: 0em;
	margin: 0em;
}

html {
	width: 100%;
}

body {
	scrollbar-face-color: #75a944;
	scrollbar-track-color: #1E2023;
	width: 100%;
	font-family: tahoma, helvetica, sans-serif;
	min-width: 850px;
	background-color: #2F2F2E;
	color: #F0EAE0;
	font-family: "Lato";
	font-weight: 400;
	font-size: 12px;
}

::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 5px;
}
::-webkit-scrollbar-thumb {
	border-radius: 5px;
	box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
	background: #75a944;
}
::-moz-scrollbar  {
	width: 12px;
	height: 12px;
}
::-moz-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 5px;
}
::-moz-scrollbar-thumb {
	border-radius: 5px;
	box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
	background: #75a944;
}

/* Common elements */
input[type=text], input[type=password], input[type=search], input[type=email] {
	font-family: "Lato";
	font-size: 11pt;
	color:#F0EAE0;
	border-bottom:1px solid #181a1d;
	border-left:1px solid #151719;
	border-right:1px solid #151719;
	border-top:1px solid #0f1012;
	background-color:#2A2E33;
	padding-left:10px;
	height: 20px;
	line-height: 20px;
}
input[type=button], input[type=submit], button {
	line-height: 30px;
	background-color: #4DB03E;	
	color: #F0EAE0;	
	text-align: center;
	cursor: pointer;
	border: none;
	border-bottom: 2px solid #2c7620;
	padding-left: 1em;
	padding-right: 1em;
	border-radius: 3px;
	box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.75);
}

input[type=button]:hover, input[type=submit]:hover, button:hover {
	box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.75), inset 2px 2px 3px 0 rgba(135, 255, 177, 0.75);
}
input[type=button]:active, input[type=submit]:active, button:active {
	border-bottom: 2px solid #181a1d !important;
	background-color: #181a1d !important;
	box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.75), inset 2px 2px 3px 0 rgba(0, 0, 0, 0.75);
}
.button a {
	color: #F0EAE0 !important;	
	display: block;
}
a {
	color: #F0EAE0;
	text-decoration: none;
}
a:hover {
	color: #F0EAE0;
}

ul {
	padding: inherit;
}

.green, h1, h2, h3, h4, a {
	color: #4db03e;
}
.red {
	color: #f15944;
}
.yellow {
	color: #e8d067;
}

.number_column {
	text-align: left;
}

/* Styles generated by the BBCode parser */

span.size1 { font-size:0.75em; }
span.size2 { font-size:1em; }
span.size3 { font-size:1.25em; }
span.size4 { font-size:1.5em; }
span.size5 { font-size:1.75em; }
span.size6 { font-size:2em; }
span.size7 { font-size:2.25em; }
span.size8 { font-size:2.5em; }
span.size9 { font-size:2.75em; }
span.size10 { font-size:3em; }

ul.thin { margin:0px 0px 0px 25px; padding:0px; }
ul.thin li { margin:0px 0px; padding:0px; }

/* Layout (Every page) */

#header {
	width: 100%;
	padding: 0px 0 0 0;
}

.header {
	margin-bottom: 1em;
}
.header h2 {
	text-align: center;
}

#content {
	margin: auto;
	margin-top: 1em;
	overflow: auto;
}

#footer {
	width: 100%;
	text-align: center;
	padding: 1em 0;
}

#menuOuter {
	width: 100%;
	height: 40px;
	border-bottom: 4px solid #101215;
	border-top: 1px solid #393A3D;
	background-color: #222427;
}
#menu {
	width: 1100px;
	text-align: center;
	font-size: 10pt;
	margin-left: auto;
	margin-right: auto;
}

#menu ul {
	height: 40px;
	line-height: 40px;
	font-size: 0;
	display: inline-block;
}

#menu ul li {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	font-size: 13px;
	border-left: 1px solid #393a3d;
	border-right: 1px solid #101215;
}

#menu ul li.text:hover {
	background-image: url('images/new/menuhover.png');
	background-repeat: repeat-x;
	background-position: left bottom;
}
#menu ul li.dropdown.active {
	background-color: #292b2f;
	border-bottom: 1px solid #292b2f;
}

#menu ul li a, .menu_dropdown ul li a {
	color: #d7d7d7;
	display: block;
	height: 100%;
	text-decoration: none;
	padding-left: 1.5em;
	padding-right: 1.5em;
}
#menu ul li a:hover {
	color: #F0EAE0;
}
#nav_upload {
	background-image: url('images/new/upload.png');
	background-repeat: no-repeat;
	background-position: center;
}
#nav_messages {
	background-image: url('images/new/inbox.png');
	background-repeat: no-repeat;
	background-position: center;
}
#nav_profile {
	background-image: url('images/new/profile.png');
	background-repeat: no-repeat;
	background-position: center;
}
#nav_bookmarks {
	background-image: url('images/new/bookmarks.png');
	background-repeat: no-repeat;
	background-position: center;
}
#nav_friends {
	background-image: url('images/new/friends.png');
	background-repeat: no-repeat;
	background-position: center;
}
#nav_friends:hover {
	background-image: url('images/new/friends.png'), url('images/new/menuhover.png');
	background-repeat: no-repeat, repeat-x;
	background-position: center, left bottom;
}
#nav_invites {
	background-image: url('images/new/invites.png');
	background-repeat: no-repeat;
	background-position: center;
}
#nav_invites:hover {
	background-image: url('images/new/invites.png'), url('images/new/menuhover.png');
	background-repeat: no-repeat, repeat-x;
	background-position: center, left bottom;
}

.menu_dropdown {
	width: 173px;
	text-align: left;
	font-size: 13px;
	background-color: #292b2f;
	border-bottom: 2px solid #181b20;
	display: none;
	z-index: 2;
}
.menu_dropdown.small {
	width: 130px;
}
.menu_dropdown.small ul li {
	width: 130px;
}
.menu_dropdown ul li:first-child {
	border-top: none;
}
.menu_dropdown ul li {
	display: inline-block;
	width: 173px;
	height: 40px;
	line-height: 40px;
	color: #F0EAE0;
	background-color: #292b2f;
	border-top: 1px solid #393a3d;
	border-bottom: 1px solid #101215;
	border-left: 1px solid #393a3d;
	border-right: 1px solid #393a3d;
}
.menu_dropdown ul li:last-child {
	border-bottom: 1px solid #393a3d;
}
.menu_dropdown ul li:hover {
	background-image: url('images/new/menuhover2.png');
	background-repeat: repeat-y;
	background-position: left top;
}
.menu_dropdown ul li a:hover {
	color: #F0EAE0;
}
#nav_subscriptions_forums_drop a {
	display: inline-block;
	padding-right: 0;
}
#nav_subscriptions_forums_drop a:nth-child(2) {
	display: inline-block;
	padding-left: 0;
}

#userinfoOuter {
	min-width: 1100px;
	width: 100%;
	border-bottom: 1px solid #101215;
	background-color: #1e2023;
}
#userinfo {
	height: 30px;
	line-height: 30px;
	width: 1100px;
	color: #acacac;
	font-size: 12.5px;
	margin-left: auto;
	margin-right: auto;
}
#userinfo ul, #userinfo ul li {
	display: inline;
}
#userinfo_stats {
	margin-left: 60px;
}
#userinfo_stats_extra li {
	margin-left: 10px;
	margin-right: 10px;
}
#userinfo_stats li {
	margin-left: 20px;
	margin-right: 20px;
}
#stats_extra_seeding a {
	color: #4DB03E;
}
#stats_extra_leeching a {
	color: #e74c3c;	
}
#userinfo_minor {
	max-width: 258px;
	float: right;
}
#userinfo_minor li {
	margin-left: 10px;
	margin-right: 0;
}

#searchbarsOuter {
	width: 100%;
	background-color: #222427;
	border-top: 1px solid #393a3d;
	border-bottom: 1px solid #101215;
}
#searchbars {
	height: 86px;
	line-height: 86px;
	width: 1100px;
	color: #b7b7b7;
	background-color: #222427;
	margin-left: auto;
	margin-right: auto;
}
#logo {
	width: 206px;
	height: 26px;
	background: url('images/new/logo.png') no-repeat top left;
	background-size: 100%;
	position: relative;
	top: 31px;
}
#logo:hover {
	background: url('images/new/logo_hover.png') no-repeat top left;
}
#logo a {
	width: 206px;
	height: 26px;
	display: block;
}
#banner {
	width: 600px;
	height: 75px;
	margin-left: 5px;
	background: url('images/new/placeholder.png') no-repeat top left;
	background-size: 100%;
	float: left;
	margin-top: 5px;
}
#banner a {
	width: 206px;
	height: 26px;
	display: block;
}
#searchbarsInner {
	margin-left: 20px;
}
#searchbars input {
	width: 118px;
	height: 20px;
	margin-left: 1px;
	background-color: #222427;
	font-size: 12px;
	border: 1px solid #101215;
	box-shadow: 0px 1px 1px rgba(58, 59, 62, 1);
	border-radius: 5px;
	padding-left: 10px;
	outline: none;
	color: #c2c2c2;
}

#searchbars ul {
	margin: 0 auto;
	display: block;
	text-align: center;
	padding: 0;
	float: right;
}

#searchbars ul li {
	display: block;
	margin-top: 5px;
	list-style: none;
	position: relative;
}

#cat-selector ul {
	width: 100%;
}

#cat-selector ul li {
	display: inline;
	width: 12em;
	height: 1em;
	float: left;
}

#alerts {
	margin: 1em auto;
	text-align: center;
}
#alerts > div {
    display: inline-block;
}
.alertbar {
	text-align: center;
	width: 220px;
	padding: 10px;
}

/* IE doesn't appear to like a simple display:none in our header. Random things start fucking up pretty badly. */
.hidden {
	position: absolute;
	left: -10000px;
}

input.hidden {
	position: absolute;
	display: none;
}

/* Layout (Any page) */

.thin {
	width: 1100px;
	margin: 0px auto;
}
.thick {
	width: 1250px;
	margin: 0px auto;
}
.extrathin {
	width: 900px;
	margin: 0px auto;
}

#userinfo_stats a {
	color: #acacac;
}
#userinfo_stats a:hover {
	color: #4DB03E;
}

div.linkbox {
	text-align:center;
	padding: 5px;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}
.floatLeft {
	float: left;
}

.right {
	text-align: right;
}
.floatRight {
	float: right;
}

.min_padding {
	padding: 0px;
	margin: 0px 0px;
}

p.min_padding {
	margin: 2px 0px;
}

.pad {
	padding: 1em;
}

.vertical_space {
	margin-bottom: 10px;
}

.pad h3, .pad h4, .padbox h3, .padbox h4 {
	margin-top: 0px;
	padding-top: 0px;
}

.time {
	color: #959595;
}

.sidebar {
	float: right;
	width: 260px;
}

.body {
	padding: 10px 10px 10px 10px;
}

.main_column {
	width: 792px;
}
.main_column.wide {
	width: 892px;
}

.tags {
	padding: 0px 0px 0px 20px;
	font-style: italic;
}

.tags a {
	color: #222;
}

.tags a:hover {
	color: #444;
	text-decoration: underline;
}

.noborder {
	border: none;
}

ul.nobullet {
	list-style-type: none;
}

table, tr, td, th {
	border: none;
	outline: none;
}
table {
	width: calc(100% - 10px);
	border-collapse: separate;
	border-spacing: 0;
}
table ul {
	padding: 0;
}
table tr {
	background-color: #222427;
}
table tr.rowa {
	background-color: #2e3033;
}
table .colhead td, table .colhead th, table .colhead_dark td, table .colhead_dark th {
	border-top: 0;
	border-bottom: 1px solid #101215;+
}
table td, table th {
	padding: 5px 5px 5px 10px;
	text-align: left;
	border-top: 1px solid #393a3d;
}

.colhead {
	background-color: #1f2023;
	font-weight: bold;
	color: #ffffff;
}

.colhead .sign, .colhead_dark .sign {
	padding: 0px 8px 0px 8px;
	vertical-align: middle;
	text-align: center;
	font-size: 12pt;
	font-weight: bold;
}


.colhead .sign {
	padding: 0px 8px 0px 8px;
	font-size: 12pt;
	font-weight: bold;
}

td.label {
	font-weight: bold;
	text-align: right;
	width: 180px;
}

table.slice {
	margin-top: -1px;
}

.error_message {
	border: 1px solid #666;
	padding: 3px 0px 3px 0px;
	background-color: #AF2525;
	text-align: center;
	color: white;
	font-weight: bold;
}

.save_message {
	border: 1px solid #666;
	padding: 3px 0px 3px 0px;
	background-color: #F4E649;
	text-align: center;
	color: #492802;
	font-weight: bold;
}

.elem_error {
	border: 3px solid #B00D0D;
}

.hidden {
	display: none;
}

#textboxTags {
	height: 31px;
}
.textboxContainer {
	width: 780px;
	background-color: #181a1d;
	border: 1px solid #303335;
	text-align: left;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	margin: 0 auto 10px auto;
}
.textboxContainer > div {
	margin: 5px 5px 0 5px;
	width: 770px;
	background-color: #222427;
	margin-bottom: 5px;
	overflow: auto;
}
.textboxButton {
	height: 30px;
	float: left;
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	color: #d7d7d7;
	border-right: 1px solid #333538;
	border-left: 1px solid #161719;
	border-bottom: 1px solid #161719;
}
.textboxButton:hover {
	background-color: #4DB03E;
}
.textboxButton.small {
	width: 40px;
}
.textboxButton.big {
	width: 80px;
}

.textboxFieldContainer {
	float: left;
	overflow: auto;
	border-top: 1px solid #333538;
	border-left: 1px solid #1e1f22;
	border-right: 1px solid #333538;
}
.textboxField {
	width: 646px;
	height: 205px;
	background-color: #222427;
	border: none;
	color: #F0EAE0;
	resize: none;
	padding-left: 15px;
	padding-top: 10px;
	font-family: "Lato";
	font-size: 12px;
	resize: vertical;
}
.textboxField:focus {
  outline-color: transparent;
  outline-style: none;
}

.textboxSmileys {
	height: 246px;
	border-left: 1px solid #161719;
	border-top: 1px solid #333538;
	margin-left: 602px;
	overflow-y: scroll;
}
.textboxSmileys img {
	margin-left: 8px;
	margin-top: 8px;
	cursor: pointer;
}
.textboxSmileys a {
	margin-left: 9px;
}




/* Layout (home page) */

ul.stats li {
	padding: 0px 0px 1px 0px;
}

ul.poll li {
	padding: 0px 0px 0px 10px;
	margin: 0px;
	clear: left;
}

ul.poll li.graph {
	margin-bottom: 3px;
	padding-left: 20px;
}

/* Layout (Torrents page) */

.show_torrents {
	width: 28px;
	height: 28px;
	background: url('images/show.png') no-repeat center center;
}

.hide_torrents {
	width: 28px;
	height: 28px;
	background: url('images/hide.png') no-repeat center center;
}

.show_torrents_link {
	border: none;
	width: 28px;
	height: 28px;
	display: block;
}

.filter_torrents {
	margin: auto;
}

.filter_torrents .submit {
	text-align: right;
}

.cat_list tr td {
	border: none;
}

.torrent_table tr {
	vertical-align: top;
}

.torrent_table tr.torrent, .torrent_table tr.group {
	font-weight: bold;
}

.torrent_table tr.group {
	background-color: #cfcfcf;
}
.torrent_table tr.group_torrent {
	background-color: #fafafa;
}
.torrent_table tr.torrent {
	background-color: #ddd;
}

.torrent_table div.tags {
	font-weight: normal;
}

.torrent_table tr .center {
	vertical-align: middle;
	text-align: center;
}

.group_torrent span {
	float: right;
}

.torrent span {
	font-weight: normal;
	float: right;
}

.nobr {
	white-space: nowrap;
}

/* Layout (Forums) */

.last_read {width: 15px; height: 15px; background: url(images/go_last_read.png) no-repeat center center; margin-left: 5px;}
.last_read a { border: none; width: 100%; height: 100%; display: block; }
.last_read a:hover { border: none; }

.unread_locked_sticky{background: url(images/locked_sticky_unread.png) no-repeat center center;}
.read_locked_sticky{background: url(images/locked_sticky_read.png) no-repeat center center;}
.read_sticky{background: url(images/sticky_read.png) no-repeat center center;}
.unread_sticky{background: url(images/sticky_unread.png) no-repeat center center;}
.unread_locked{background: url(images/locked_unread.png) no-repeat center center;}
.read_locked{background: url(images/locked_read.png) no-repeat center center;}
.unread{background: url(images/unread.png) no-repeat center center;}
.read{background: url(images/read.png) no-repeat center center;}
strong.quoteheader {color: #fff;}

blockquote {
	margin: 10px;
	padding: 10px;
	border: 1px dashed #666;
}


/* Layout (Inbox) */


tr.unreadpm {
	background-color: #ECC;
}

/* Layout (Permission Page) */

.permission_head {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.permissions {
	margin-left: auto;
	margin-right: auto;
}

.permission_container {
	float: left;
	width: 350px;
	margin: 5px;
}
.permission_container input {
	margin: 0px 3px 5px 0px;
	vertical-align: top;
}

.submit_container {
	clear: both;
	text-align: right;
}

/* Layout (Invite tree) */

ul .invitetree {
	margin: 0px 0px 0px 25px;
}

.invitetree li {
	list-style: none;
	margin: 10px 2px;
}

/* Layout (MISC) */

.left_poll {
	width: 2px;
	height: 9px;
	background: url('images/bar_left.gif') no-repeat center center;
	float: left;
	margin: 0px;
	padding: 0px;
}

.center_poll {
	height: 9px;
	background: url('images/bar.gif') repeat;
	float: left;
	margin: 0px;
	padding: 0px;
}

.right_poll {
	width: 2px;
	height: 9px;
	background: url('images/bar_right.gif') no-repeat center center;
	float: left;
	margin: 0px;
	padding: 0px;
}

.curtain {
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity=80);
}

.lightbox {
	position: fixed;
	text-align: center;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	padding: 0px;
	z-index: 1002;
	overflow: auto;
}

.center {
	text-align: center;
}

.spellcheck {
	margin: 25px 0;
	font-size: 1.25em;
	font-weight: bold;
}

tr.torrent .bookmark > a:before {
	color: black;
}
tr.torrent .bookmark > a:after {
	color: black;
}

.field_div {
	margin-bottom: 10px;
}

.brackets {
	font-weight: normal;
}

div[class~=tooltipster-content] > a {
	color: #AAAAAA;
}

.post_id {
	font-weight: normal;
}

.vote_tag_up, .vote_artist_up, .vote_album_up, .small_upvote, .small_upvoted {
	color: green;
}

.vote_tag_down, .vote_artist_down, .vote_album_down, .small_downvote, .small_downvoted {
	color: red;
}

/* get rid of extraneous padding in the Top Contributors box */
#request_top_contrib {
	border: none;
}
#request_top_contrib tr:first-child th {
	border-top: 0;
}
#request_top_contrib tr:last-child td {
	border-bottom: 0;
}
#request_top_contrib tr td:first-child,
#request_top_contrib tr th:first-child,
#request_top_contrib tr td:nth-child(2),
#request_top_contrib tr th:nth-child(2) {
	border-left: 0;
	border-top: 0;
}
#request_top_contrib tr td:last-child,
#request_top_contrib tr th:last-child {
	border-right: 0;
}

/* workaround for calendar display issue */
div.sidebar #event_div {
	margin-left: -232px;
}

ol {
	margin-left: 1em;
}

#forum_search_cat_list {
	border: none;
}



/* INDEX */
#content > .thin > center > .head {
	border: 1px solid #494d50;
}
.head .floatRight {
	padding-right: 10px;
}

.boxOuter {
	background-color: #181a1d;
	border: 1px solid #303335;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	text-align: left;
	margin-bottom: 12px
}
.box, .forum_index, .alertbar {
	background-color: #222427;
	margin: 5px;
}
.box .head, .forum_index .colhead, .forum_index .colhead_dark {
	height: 26px;
	line-height: 26px;
	padding-left: 10px;
	font-weight: bold;
	border-top: 0;
	border-bottom: 1px solid #101215;
	font-size: 12.5px;
}

.sidebar .box ul {
	padding: 1em
}
.sidebar table {
	color: #959595;
}
.sidebar table a {
	color: #F0EAE0;
}
.sidebar table a:hover {
	color: #4DB03E;
}

/* FORUM OVERVIEWS*/
.linkbox .brackets {
	padding-left: 5px;
	padding-right: 5px;
}
.forum_index {
	font-size: 13px;
	margin-left: auto;
	margin-right: auto;
}
.forum_index a {
	color: #F0EAE0;
}
.forum_index a:hover {
	color: #4DB03E;
}
.forum_index .colhead td, .forum_index .colhead th, .forum_index .colhead_dark td, .forum_index .colhead_dark th {
	border-top: 0;
}
.forum_index .rowa, .forum_index .rowb {
	background-color: #222427;
	height: 50px;
}
.forum_index .rowa:hover, .forum_index .rowb:hover {
	background-color: #2e3033;
}
.forum_index td p {
	font-size: 11px;
	padding-top: 2px;
}
.forum_index td p, .forum_index td span {
	color: #959595;
}
.forum_index .last_poster {
	float: left;
	clear: left;
	font-size: 11px;
	padding-top: 2px;
}

/* FORUM POSTS */
.forum_post {
	padding: 0;
	border: none;
}
td.avatar ul {
	text-align: center;
	padding-bottom: 1em;
}
td.avatar {
	width: 150px;
	padding: 0px;
    border-right: 1px solid #101215;
	border-top: 0;
}
.forum_post td.body {
	border-top: 0;
    border-top: 1px solid #393A3D;
    border-left: 1px solid #393A3D;
}


/* USER SETTINGS */
#settings_sections {
	position: initial;
}

/* DEBUG SECTION */



/* DONATE */
.donateOption {
	text-align: center;
}