/* digibyte */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic);

#site_debug, #content, #footer, #lightbox, #curtain, #menu, #logo, #searchbars { display: none; }

body { 
    background-color: #2F2F2E;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
}
#userinfo {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#userinfo_minor,
#userinfo_username {
    display: flex;
}

#userinfo_minor li,
#userinfo_username li {
    padding: 5px;
}